.talkItem {
    background-color: #333;
    color: #FFFFF0;
    width: 90%;
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.2s all ease-in-out;
}

.talkItem:hover {
    background-color: lightgrey;
    color: #111
}

.currentTalkItem {
    background-color: indianred;
}

.currentTalkItem:hover {
    background-color: indianred;
}
