.talks {
    width: 40%;
    height: 100%;
    background-color: #212121;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border-left: 1px solid #333;
}

.talksItems {
    height: 90%;
    overflow-x: hidden;
}

.talksHead {
    font-size: 2em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 9%;
    background-color: #333;
    transition: all 0.2s ease-in-out; 
}

.talksHead:hover {
    color: yellow;
    background-color: green;
}

.noTalkItem {
    background-color: #333;
    color: #FFFFF0;
    width: 90%;
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.2s all ease-in-out;
}

.noTalkItem:hover {
    background-color: lightgrey;
    color: #111
}

.companionInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    color: #FFFFF1;
    padding: 0 2em;
    margin-top: 15px;
}

.companionInfoItem p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    text-align: left;
}

.companionInfoItem h2 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: 400;
    margin-bottom: 5px;
}

.companionInfoItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
    border-bottom: 1px solid wheat;
    padding: 5px 10px;
    width: 100%;
}

.backButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    outline: none;
    border: none;
    border-radius: 75%;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    font-size: 1em;
}

.backButton img {
    transition: all 0.2s ease-in-out;
    border-radius: 75%;
    margin-right: 10px;
}

.backButton img:hover {
    background-color: #444;
}