.dialogItem {
    font-size: 1em;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    border-top: none;
    cursor: pointer;
    height: 70px;
    border-radius: 10px;
    margin: 0 5px;
    padding: 0 ;
    padding-left: 0;
    background-color: none ;
    color: #FFFFF0;
    transition: 0.1s all ease-in-out; 
}

.dialogItem:nth-child(1) {
    margin-top: 5px;
}

.dialogItem:hover {
    background-color: #a3a3a3;
    color: #000;
}

.currentItem {
    background-color: indianred;
}

.currentItem:hover {
    background-color: indianred;
    color: #FFFFF0;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1em;
  }

.dialogItem h3 {
    padding: 0;
    margin: 0;
}

.dialogItemText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    height: 45px;
}

.dialogItemText h3 {
    margin: auto 0;
    padding: 0;
    text-align: left;
}

.dialogItemText p {
    margin: auto 0;
    padding: 0;
    text-align: left;
    text-overflow: clip;
    overflow: hidden;
}

.avatar img {
    border-radius: 75%;
    height: 45px;
    width: 45px;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.dot {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    height: 1.5em;
    color: #FFFFF1;
    /* border: 1px solid white; */
    border-radius: 75%;
    margin-right: 10px;
    background-color: #717579;
    text-align: center;
    width: 15%;
}

.lastMessageContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.lastMessage {
    flex-grow: 1;
    height: 20px;
    text-overflow: ellipsis;
    overflow-y: auto;
}

.nameContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.isOnline {
    position: absolute;
    bottom: 0px;
    right: 12px;
    font-size: 2.75em;
    color: lightgreen;
}