.dialogWindow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #0F0F0F;
    background: none;
    padding: 0;
    margin: 0;
    border-left: 1px solid  #333;
}

.txtArea {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 62px;
    max-height: 110px;
    background: none;
    width: 100%;
    margin: 5px 0px;
}

.messageText {
    border: none;
    outline: none;
    -moz-appearance: none;
    resize: none;
    overflow-y: auto;
}

 /* спизженный скроллбар */
 ::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    display: block
  }
  ::-webkit-scrollbar-thumb {
    background: #909090;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #666;
  }
  
.wInputContainer {
    display: flex;
    /* justify-content: flex-start; */
    position: relative;
    align-items: center;
    width: 500px;
    min-height: 20px;
    box-sizing: border-box;
    padding: 7px;
    padding-inline: 15px;
    /* margin: 5px 10px; */
    background-color: #212121;
    border: 1px solid #212121;
    border-radius: 21px;
    max-height: min-content;
}

.attachButton {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.inputAttachment {
    height: 25px;
    margin-left: 5px;
}

.wInputTextGroup {
    position: relative;
    padding: 0;
}

.wPlaceholder {
    color: #a0a0a0;
    top: 0;
    pointer-events: none;
    user-select: none;
    position: absolute;
    opacity: 0;
    transition: 0.2s padding ease-in-out;
}

.wrapper {
    font: inherit;
    font-style: normal;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    width: 100%;
    resize: none;
    font-size: 1.3em;
    height: min-content;
    color: white;
    border: none;
    outline: none;
    max-height:4.5em;
    height: 1.5em;
    background-color: #212121;
}

.wrapper:is(:focus, :valid) {
    border: none;
}

.wInputText {
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    /* z-index: 1; */
    max-height: 5em;
    min-height: 1em;
    padding: 0 0 0 2px;
    outline: 0;
    transition: 0.2s padding ease-in-out;
}

.wInputText:empty + .wPlaceholder {
    opacity: 1;
}

.wInputText:focus + .wPlaceholder {
    padding: 0 6px 0px;
}

.wInputText:focus {
    padding: 0 6px 0px;
}

.sendButton {
    font-size: 1.2em;
    background-color: #333;
    color: #FFFFF1; 
    padding: 7px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.sendButton:hover {
    background-color: #212121;
}

.wtf {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

@keyframes appear {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: flex;
        opacity: 1;
    }
}

.dropDownMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    top: -94px;
    right: 0;
    width: 100px;
    height: fit-content;
    padding: 5px;
    background-color: #444444;
    border-radius: 10px;
    opacity: 1;
    animation: appear 0.3s ease-in-out both;
}

.dropDownMenuItem {
    background: none;
    border: none;
    outline: none;
    color: #FFFFF1;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    padding: 4px 8px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

.dropDownMenuItem:hover {
    background-color: #333;
}

.dropDownMenuItem:first-child {
    margin-bottom: 5px;
}
