.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    height: 62px;
}

.avatar img {
    border-radius: 75%;
    height: 45px;
    width: 45px;
}

.companion {
  height: 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFF0;
  background-color: #212121;
  border-bottom: 1px solid #000;
  /* margin-bottom: 10px; */
  width: 100%;
}

.companionInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.companion p, .companion h2 {
    text-align: start;
    margin: 0;
    padding: 0;
}

.companion p {
    color: gray;
}


.talkButton {
    font-size: 1.2em;
    background-color: #212121;
    color: #FFFFF1; 
    padding: 7px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.talkButton:hover {
    background-color: #333;
}