.recoveryPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2a2a2a;
    align-items: center;
    width: 400px;
    height: 350px;
    z-index: 1;
    color: #FFFFF1;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.15);
    border-radius: 10px;
}

.recoveryPage h2 {
    padding: 0;
    margin: 0;
}

.recoveryFormItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formInput {
    width: 240px;
    height: 50px;
    /* margin-top: 2%; */
    margin-block: 20px;
    padding: 15px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    background-color: #202124;
    outline: none;
    border: none;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
}

.formInput:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

/* input[class="formInput"]{
    width: 240px;
    height: 50px;
    margin-top: 2%;
    padding: 15px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    background-color: #202124;
    outline: none;
    border: none;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
} */

/* input[class="formInput"]:focus {
    transform: translateX(-2px);
    border-radius: 5px;
} */

.LoginPageButton {
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    width: max-content;
    background-color: #202124;
    font-size: 0.8em;
    font-weight: 700;
    color: #838896;
    transition: 0.2s all ease-in-out;
}

.LoginPageButton:hover {
    transform: translatey(3px);
    box-shadow: 0 3px 30px hsla(20, 67%, 75%, 0.15);
}