.settings {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
}

.settings::-webkit-scrollbar{
    width: 0;
}

.backButtonPlace {
    font-size: 1.5em;
    color:#fffff1 ;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 46px;
    background-color: #212121;
    padding: 0px 20px;
    z-index: 2;
}

.backButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    height: 45px;
    width: 45px;
    outline: none;
    border: none;
    border-radius: 75%;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    margin-right: 10px;
}

.backButton:hover {
    background-color: #444;
}

.buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.settingButton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 80%;
    max-width: 216px;
    background-color: #444;
    border: none;
    outline: none;
    font-size: 1.25em;
    padding: 8px 16px;
    border-radius: 20px;
    color: #eee;
    margin-top: 16px;
    transition: all 0.2s ease;
}

.settingButton p {
    text-align: left;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.settingButton:hover {
    background-color: #bbb;
    color: #333;
}