.dialog-item {
    font-size: 1em;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    border-top: none;
    cursor: pointer;
    height: 70px;
    border-radius: 15px;
    margin: 0.5em 15px;
    padding: 0 ;
    padding-left: 0;
    background-color: #D3D3D3;
    transition: 0.2s all ease-in-out; 
}

.dialog-item:first {
    margin-top: 1em;
}

.dialog-item:hover {
    background-color: #333;
    color: #FFFFF0
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }

.dialog-item h3 {
    padding: 0;
    margin: 0;
}

.dialogItemText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    height: 45px;
}

.dialogItemText h3 {
    margin: auto 0;
    padding: 0;
    text-align: left;
}

.dialogItemText p {
    margin: auto 0;
    padding: 0;
    text-align: left;
}



.avatar img {
    border-radius: 75%;
    height: 45px;
    width: 45px;
}