.settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    color: #FFFFF1;
}

/* .userPhoto {

} */

.backButtonPlace {
    font-size: 1.5em;
    color:#fffff1 ;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 46px;
    background-color: #2a2a2a;
    padding: 0px 20px;
}

.backButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    height: 45px;
    width: 45px;
    outline: none;
    border: none;
    border-radius: 75%;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    margin-right: 10px;
}

.backButton:hover {
    background-color: #232323;
}