{% extends'base.html' %}

{% block body %}
<form method="post">
    <input type="text" name="userName" id="userName" class="form-control" placeholder="Введите имя" value="{{data[0]}}"><br>
    <input type="text" name="email" id="email" class="form-control" placeholder="Введите email" value="{{data[1]}}"><br>
    <input type="password" name="password" id="password" class="form-control" placeholder="Введите пароль" value="{{data[2]}}"><br>
    <input type="password" name="password2" id="password2" class="form-control" placeholder="Подтвердите пароль" value="{{data[3]}}"><br>
    <input type="submit" class="btn btn-success" value="Зарегистрироваться">
    <input type="button" onclick="window.location.href = '/home';" class="btn btn-outline-secondary" value="На главную">

</form>
{% endblock %}