.uisettings {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100% ;
    padding-inline: 15px;
    color: #FFFFF1;
}

input[type=number] {
    width: min-content;
    outline: none;
}

input[type=range] {
    -webkit-appearance: none;
    background: none;
    margin: 10px 0;
    width: 60%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(124,17,90,1) 0%, rgba(232,8,8,1) 100%);
    border-radius: 25px;
    border: 0px solid #000101;
  }
  input[type=range]::-webkit-slider-thumb {
    border: 0px solid #000000;
    height: 12px;
    width: 12px;
    border-radius: 75%;
    background: #B20C30;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
    transition: all 0.2s ease-in-out;
  }

  input[type=range]::-webkit-slider-thumb:hover {
    border: 0px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 75%;
    background: linear-gradient(90deg, rgba(124,17,90,1) 0%, rgba(232,8,8,1) 100%);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.3px;
  }
 
  .fontChanger {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fffff1;
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
  }

  .container p {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0;
    text-align: left;
  }

  select {
    cursor: pointer;
    appearance: none;
    color: #4D4D4D;
    font-size: 100%;
    outline: 0;
    height: 40px;
    padding: 5px 10px;
    border-radius: .25rem;
    background-color: transparent;
    border: 1px solid rgba(27,31,35,0.2);
    background-color: #FFFFF1;
    color: #212121;
 }