.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
  
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Message {
  height: 400px;
  width: 600px;
  border: 4px solid lightpink;
}

.Dialogs {
  width: 20%;
  height: 100%;
  border: 2px solid gray;
}

.work-tree {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
  border: 2px solid red;
}

.dialog-window {
  width: 67%;
  height: 100%;
  border: 2px solid blue;
}

.talks {
  width: 33%;
  height: 100%;
  border: 2px solid violet;
}

.DialogList {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.DialogList::-webkit-scrollbar{
  width: 0px;
}

.searchBox {
  padding: 5px;
  border-bottom: 2px solid black;
}

.dialog-item {
  display: flex;
  justify-content: flex-start;
  border: 2px solid lightslategray;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.dialog {
  height: 83%;
  border:4px solid lightyellow;
}

.txtArea {
  display: flex;
  justify-content: center;
  align-items: center;
}