.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Message {
  height: 400px;
  width: 600px;
  border: 4px solid lightpink;
}