.ProfileSettings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #FFFFF1;
    overflow-x: hidden;
    overflow-y: auto;
}

.ProfileSettings::-webkit-scrollbar {
    width: 0px;
}

.bio {
    margin-top: 10px;
}

.inputBox {
    position: relative;
    width: 100%;
    color: #FFFFF1;
    background: none;
    display: inline-block;
    vertical-align: top;
}

.profileInput {
    padding: 15px 20px;
    padding-bottom: 10px;
    background: none;
    width: 100%;
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid wheat;
}

.ProfileSettingsField {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 15px;
}

.inputBox input[type="text"], .inputBox input[type="password"]  {
    font-size: 1.2em;
    margin-top:18px;
}

.settingsLabel {
    position: absolute;
    pointer-events: none;
    display: block;
    left: 20px;
    top: 36px;
    white-space: nowrap;
    color: #888;
    /* overflow: hidden; */
    transition: all 0.5s;
}
  
.profileInput:focus~.settingsLabel
,.profileInput:valid+.settingsLabel
{
    top:10px;
    left: 20px;
    color: #FFFFF1;
}

.bioLabel {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
    color: #888;
}

.avatarChanger {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.avatarChanger input[type='file'] {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.inputFile {
    color: #fffff1;
    background: none;
    cursor: pointer;
    padding: 5px;
    margin-block: 5px;
    border-radius: 2px;
    font-size: 1.5em;
    transition: all 0.2s ease-in-out;
}

.inputFile:hover {
    background-color: #FFFFF1;
    color: black;
}

.userPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    max-width: 230px;
    background-color: #444;
    border: none;
    outline: none;
    font-size: 1.25em;
    padding: 8px 16px;
    border-radius: 20px;
    color: #eee;
    transition: all 0.2s ease;
}

.userPhoto p {
    text-align: left;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.userPhoto:hover {
    background-color: #bbb;
    color: #333;
}