.ProfileSettings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #FFFFF1;
    overflow-x: hidden;
    overflow-y: auto;
}

.ProfileSettings::-webkit-scrollbar {
    width: 0px;
}

.bio {
    margin-top: 10px;
}

.inputBox {
    position: relative;
    width: 100%;
    color: #FFFFF1;
    background: none;
    display: inline-block;
    vertical-align: top;
}

.profileInput {
    padding: 15px 20px;
    padding-bottom: 10px;
    background: none;
    width: 100%;
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid wheat;
}

.ProfileSettingsField {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 15px;
}

.inputBox input[type="text"], .inputBox input[type="password"]  {
    font-size: 1.2em;
    margin-top:18px;
}

.settingsLabel {
    position: absolute;
    pointer-events: none;
    display: block;
    left: 20px;
    top: 36px;
    white-space: nowrap;
    color: #888;
    /* overflow: hidden; */
    transition: all 0.5s;
}
  
.profileInput:focus~.settingsLabel
,.profileInput:valid+.settingsLabel
{
    top:10px;
    left: 20px;
    color: #FFFFF1;
}

.bioLabel {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
    color: #888;
}